Registered MIME type?

This needs to happen.  Whomever will register this should ponder _text/yaml_, too, but I believe "application/yaml" is the more commonly used media type.

YAML is too important to leave unregistered.  It may not be obvious, but being unregistered with IANA is a barrier to adoption.  There is a reason why we don't see browser support for YAML, as we do for JSON.  Web tooling that might easily transition between YAML and JSON is hindered by YAML's non-standardness.

@hairyhenderson provided the IANA media type registration link.  With today's release of [YAML 1.2.2](https://yaml.org/spec/1.2.2/), let's make YAML an official media type.

Registering a MIME type in the standards tree (as opposed to the vendor or personal trees) requires, among other things, that the spec be published as an RFC. This is a much more involved process than simply filling out the registration form. At this time there is no concrete plan to go through that process, but we may do so in the future.

> [...] the spec be published as an RFC

Thanks for that - I wasn't aware of that requirement. For anyone else curious, see [RFC 6838 §3.1](https://www.rfc-editor.org/rfc/rfc6838.html#section-3.1):
> _[...] The registration proposal MUST be published as an RFC. [...]_

I do hope the YAML Language Development Team considers publishing an RFC at some point, but no pressure. I can imagine it's a considerable undertaking!

If the work is an obstacle, I'm willing to do some of the heavy lifting.  I have not been through the process, but I'm interested in learning how to work with the IETF.  If I put a draft together and outlined steps to address whatever other formalities are required, could we consider moving forward from there?

See https://github.com/ietf-wg-httpapi/mediatypes/issues/10 

Hi

It looks like the `RFC 9512 YAML Media Type` has been published in February 2024:
https://www.rfc-editor.org/rfc/rfc9512.html

> Abstract
> This document registers the `application/yaml` media type and the `+yaml` structured syntax suffix with IANA. Both identify document components that are serialized according to the YAML specification.

So I suppose this issue can now be closed?